# Version control
.git
.gitignore

# Python
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/.env
**/.venv
**/env/
**/venv/
**/ENV/
**/env.bak/
**/venv.bak/

# Development/IDE
.idea
.vscode
*.swp
*.swo

# Testing
**/tests/
pytest.ini
**/.pytest_cache/

# Documentation
**/*.md
docs/
screenshots/

# Build
**/*.log
**/*.sqlite
**/*.db

# Project specific
frontend/
terraform/
ml_models/*
!ml_models/bert_classifier.py
!ml_models/intent_classifier.py
!ml_models/bert_gpu_model/
utils/*
!utils/langchain_agents.py
!utils/multi_source_agent.py
!utils/openai_query_generator.py
!utils/wikipedia_fetcher.py 